<div class="row top-buffer">
	<form class="form-horizontal well clearfix" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2 text-right">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6 text-right">
					<input type="text" class="form-control" placeholder="請輸入長照案號、個案或居服員姓名"></div>
				<div class="col-md-1">
					<button class="btn btn-default">
						查詢 <i class="fa fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>
	</form>
	<hr></div>
<div class="text-right">
	<a class="btn btn-success ">發起調查</a>
</div>
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>調查項目</th>
				<th>發起時間</th>
				<th>發起人</th>
				<th>問卷數</th>
				<th>未作答</th>
				<th>問卷狀態</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01</td>
				<td><a href="#">2016下半年居家滿意度調查</a></td>
				<td>2016.08.30 17:04</td>
				<td>張大春</td>
				<td>300</td>
				<td><a href="javascript:;" data-toggle="modal" data-target="#myModal">299</a></td>
				<td><span class="text-success">進行中</span></td>
			</tr>
			<tr>
				<td>02</td>
				<td><a href="#">2016下半年居家滿意度調查</a></td>
				<td>2016.08.30 17:04</td>
				<td>陳浩南</td>
				<td>300</td>
				<td>0</td>
				<td><span>進行中</span></td>
			</tr>
			<tr>
				<td>03</td>
				<td><a href="#">2016下半年居家滿意度調查</a></td>
				<td>2016.08.30 17:04</td>
				<td>林大飛</td>
				<td>300</td>
				<td><a href="javascript:;" data-toggle="modal" data-target="#myModal">3</a></td>
				<td><span class="text-danger">	逾時未完成</span></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"></button>
				<h4 class="modal-title" id="myModalLabel">未作答名單</h4>
			</div>
			<div class="modal-body">
				張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺, 張爺爺,
			</div>
		</div>
	</div>
</div>