<div class="row top-buffer">
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號(新制)</a>
	<a class="btn btn-default" href='javascript:;'><i class='fa fa-user-plus'></i> 新增帳號(舊制)</a>
	<a class="btn btn-primary" href='javascript:;' data-toggle="modal" data-target="#input_dialog">帳號匯入</a>
	<a class="btn btn-primary" href='javascript:;' data-toggle="modal" data-target="#export_dialog">帳號匯出</a>
</div>

<div class="row top-buffer">

	<table class="table align-middle-table custom-table-01 reset-list-style js--spy--width datatables">
		<thead>
			<tr class="GridviewScrollHeader">
				<th>帳號 Email</th>
				<th>案號</th>
				<th>長照案號</th>
				<th>居服員</th>
				<th>督導員</th>
				<th>姓名</th>
				<th>性別</th>
				<th>年齡</th>
				<th>身分別(一)</th>
				<th>身分別(二)</th>
				<th>身分別(四)</th>
				<th>身心障礙手冊</th>
				<th>服務需求時數</th>
				<th>核定時數</th>
				<th>補助比例（政府補助額度）</th>
				<th>派案日期</th>
				<th>預定首次服務時間</th>
				<th>服務頻率</th>
				<th>帳號匯出</th>
			</tr>			
		</thead>
		<tbody>
			<tr class="GridviewScrollItem">
				<td data-toggle="tooltip" title="王比利">email@tw.shuttle.com</td>
				<td data-toggle="tooltip" title="王比利">123456</td>
				<td data-toggle="tooltip" title="王比利">123456789</td>
				<td data-toggle="tooltip" title="王比利">居服員1</td>
				<td data-toggle="tooltip" title="王比利">歐區欠</td>
				<td data-toggle="tooltip" title="王比利">王比利</td>
				<td data-toggle="tooltip" title="王比利">爺爺</td>
				<td data-toggle="tooltip" title="王比利">99</td>
				<td data-toggle="tooltip" title="王比利">一般戶</td>
				<td data-toggle="tooltip" title="王比利">原住民</td>
				<td data-toggle="tooltip" title="王比利">長十</td>
				<td data-toggle="tooltip" title="王比利">有</td>
				<td data-toggle="tooltip" title="王比利">5 小時/月</td>
				<td data-toggle="tooltip" title="王比利">5 小時/月</td>
				<td data-toggle="tooltip" title="王比利">100%</td>
				<td data-toggle="tooltip" title="王比利">yyyy/mm/dd</td>
				<td data-toggle="tooltip" title="王比利">yyyy/mm/dd</td>
				<td data-toggle="tooltip" title="王比利">以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
				<td data-toggle="tooltip" title="王比利" class="text-center"><a class="btn btn-primary">匯出</a></td>
			</tr>
			<tr class="GridviewScrollItem">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
				<td data-toggle="tooltip" title="王比利" class="text-center"><a class="btn btn-primary">匯出</a></td>
			</tr>
			<tr class="GridviewScrollItem">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
				<td data-toggle="tooltip" title="王比利" class="text-center"><a class="btn btn-primary">匯出</a></td>
			</tr>
			<tr class="GridviewScrollItem">
				<td>email@tw.shuttle.com</td>
				<td>123456</td>
				<td>123456789</td>
				<td>居服員1</td>
				<td>歐區欠</td>
				<td>王比利</td>
				<td>爺爺</td>
				<td>99</td>
				<td>一般戶</td>
				<td>原住民</td>
				<td>長十</td>
				<td>有</td>
				<td>5 小時/月</td>
				<td>5 小時/月</td>
				<td>100%</td>
				<td>yyyy/mm/dd</td>
				<td>yyyy/mm/dd</td>
				<td>以周計算： 0 天/周， 0 小時/天， 0 周/月<br>以月計算： 0 天/周， 0 小時/天</td>
				<td data-toggle="tooltip" title="王比利" class="text-center"><a class="btn btn-primary">匯出</a></td>
			</tr>
		</tbody>
	</table>

	<!-- export_table -->
	<table class="table align-middle-table custom-table-01" style="display:none">
		<tr><td colspan="4" class="text-center"><h4>財團法人新北市私立雙連社會福利慈善事業基金會</h4></td></tr>
		<tr><td colspan="4" class="text-center"><h3>個案基本資料暨初評表</h3></td></tr>
		<tr><td colspan="2">案號：XXXXXXX</td><td colspan="2" class="text-right">開案日期：104年1月6日</td></tr>
		<tr><td>姓名：葉</td><td>性別：□男 ■女</td><td>生日：民國XX年XX月X日</td><td>籍貫：</td></tr>
		<tr><td colspan="2">電話：</td><td colspan="2">身份證字號：F</td></tr>
		<tr><td colspan="4">現居地址：</td></tr>
		<tr><td colspan="4">戶籍地址：■同上</td></tr>
		<tr><td colspan="4">宗教信仰：□1、道教 □2、佛教 □3、基督教 □4、天主教 □5、一貫道 □6、回教 ■7、無</td></tr>
		<tr><td colspan="4">教育程度：■1、不識字 □2、識字，但未曾就學 □3、特教班(□國小□國中□高中) □4、國小□5、國中 □6、高中 □7、大專 □8、研究所以上 □9、其它</td></tr>
		<tr><td>職業(昔)：</td><td colspan="3">婚姻狀況：□1、未婚 □2、已婚 □3、離婚 □4、分居 ■5、喪偶 □6、其它</td></tr>
		<tr><td>職業(現)：</td><td colspan="3">慣用語言：□1、國語 ■2、台語 □3、客家語 □4、原住民語 □5、其它</td></tr>
		<tr><td colspan="2">身分別：<br>■1、一般戶 □2、中低2.5倍 □3、中低1.5倍 □4、低收入戶 □5、榮民、榮眷 □6、原住民 □7、其他</td>
			<td colspan="2">居住情形：<br>□1、獨居 □2、配偶同住  □3、子女同住 □4、子女家輪住 ■5、親友或孫代子女同住 □6、其它</td></tr>
		<tr><td colspan="2">身心障礙手冊：■1、無  □2、有，障別：<br>輔具：■1、無  □2、有：</td>
			<td colspan="2">衛生環境：<br>■異常，雜物堆放，久積灰塵</td></tr>
		<tr><td colspan="2" rowspan="2">疾病史：<br>■1.骨骼系統(關節炎、骨折) ■2.重聽</td>
			<td colspan="2">房屋所有權：<br>■1.自有□2.租用  元/月□3.借用□4.其他</td></tr>
		<tr><td colspan="2">住宅種類：<br>□1.平房 □2.透天厝 □3.公寓 □4.電梯大廈 □5.其他(居住權)</td></tr>
		<tr><td>經濟來源：</td>
			<td colspan="3">■1.子女奉養約 元/月 □2.父母供應 元/月 □3.退休俸約 元/月 □4.儲蓄<br>□5.工作收入約 元/月 □5.社會福利補助：元/月 □6.其他：</td></tr>
		<tr><td colspan="4">社會資源：□長照中心其他服務： □其他社會福利單位：■其他：XXX診所</td></tr>
		<tr><td colspan="4">緊急聯絡人(或其他親友)：鄭 (案么子) 電話： 關係：</td></tr>
		<tr><td colspan="2">家系圖：<br><img src="http://fakeimg.pl/360x260/"></td>
			<td colspan="2">生態圖：<br><img src="http://fakeimg.pl/360x260/"></td></tr>
		<tr><td colspan="4">初次需求評估：<br>個案近幾年因年歲大身體功能逐漸退化現象，重聽、雙膝退化性關節炎情形，較不耐上下樓及走長距離的動作且不愛使用枴杖。主要照顧者是案次子，平日尚有兼任工作白天外出，中午固定回家備餐探視個案。現個案白天部分時段呈獨處狀態，在移位或室內行走有時需扶著周遭支撐物或牆壁，步態緩慢不太平穩。</td></tr>
		<tr><td colspan="4">初次處遇計畫：<br>12/25至案家初訪個案，12/30至案家簽約，將於104/01/06起提供週二及週四，10：30-12：30之協助沐浴、備餐之服務，服務員：XXX。</td></tr>
		<tr><td colspan="2">組長：</td><td colspan="2">居服督導員：XXX</td></tr>
	</table>
	<!-- export_table//-->
	
</div>

<!-- 帳號匯入dialog -->
<div id="input_dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">資料匯入</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<button class="btn btn-default" type="file">選擇檔案</button>
				</div>
				<div class="form-group">
					<a class="btn btn-default" href='javascript:;' data-toggle="modal" data-target="#input_dialog">下載匯入表格</a>
					<span>若無匯入表格請先下載</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-danger">匯入異常</button>
				<button type="button" class="btn btn-primary">匯入成功</button>
			</div>
		</div>
	</div>
</div>
<!-- 帳號匯入dialog -->

<!-- 帳號匯出dialog -->
<div id="export_dialog" class="modal fade">
	<div class="modal-dialog">
		<form id="frm-list_case_export">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"></button>
					<h4 class="modal-title">帳號匯出</h4>
				</div>
				<div class="modal-body">
					<table id="list_case_export" class="table display select" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><input name="select_all" value="1" type="checkbox"></th>
								<th>案號</th>
								<th>姓名</th>
								<th>縣市/區</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>1115120541</td>
								<td>王比利</td>
								<td>台北市大安區</td>
							</tr>
							<tr>
								<td>2</td>
								<td>1115120542</td>
								<td>王比利</td>
								<td>台北市大同區</td>
							</tr>
							<tr>
								<td>3</td>
								<td>1115120543</td>
								<td>王比利</td>
								<td>台北市大同區</td>
							</tr>
							<tr>
								<td>4</td>
								<td>1115120544</td>
								<td>王比利</td>
								<td>新北市淡水區</td>
							</tr>
							<tr>
								<td>5</td>
								<td>1115120545</td>
								<td>王比利</td>
								<td>台北市大安區</td>
							</tr>
							<tr>
								<td>6</td>
								<td>1115120546</td>
								<td>王比利</td>
								<td>新北市淡水區</td>
							</tr>
							<tr>
								<td>7</td>
								<td>1115120547</td>
								<td>王比利</td>
								<td>台北市大同區</td>
							</tr>
							<tr>
								<td>8</td>
								<td>1115120548</td>
								<td>王比利</td>
								<td>新北市淡水區</td>
							</tr>
							<tr>
								<td>9</td>
								<td>1115120549</td>
								<td>王比利</td>
								<td>台北市大安區</td>
							</tr>
							<tr>
								<td>10</td>
								<td>11151205410</td>
								<td>王比利</td>
								<td>台北市大同區</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary pull-right" id="list_case_export_btn">匯出</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- 帳號匯出dialog//-->
