<div class="row top-buffer">
	<div class="col-md-6 text-left form-inline">
		<label>訊息類別</label>
		<select class="form-control">
			<option>全部訊息</option>
			<option>服務行程</option>
			<option>耗材申請</option>
			<option>費用收取</option>
		</select>
		<label>訊息來源</label>
		<select class="form-control">
			<option>全部</option>
			<option selected>所屬相關</option>
		</select>
	</div>
	<div class="col-md-6 text-right">
		<label class="control-label">顯示區間</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange" checked="">一個月
		</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange">三個月
		</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange">半年
		</label>
		<label class="radio-inline">
			<input type="radio" value="" name="vrange">全部
		</label>
	</div>
</div>
<hr>
<div class="row">
	<div class="form-group col-md-12">
		<h4>服務行程<label class="msg-label"><input type="checkbox">只顯示重要訊息</label></h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">{MM-DD hh:mm} - {個案姓名} (居服員：{居服員姓名}) <span class="text-danger">(簽派人：{簽派人姓名})</span></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">{MM-DD hh:mm} - {個案姓名} (居服員：{居服員姓名})</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">行程取消－{MM-DD hh:mm} {個案姓名} (居服員：{居服員姓名}) <span class="text-danger">(簽派人：{簽派人姓名})</span></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">行程取消－{MM-DD hh:mm} {個案姓名} (居服員：{居服員姓名})</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">行程調整 - {調整後時間MM-DD hh:mm}~{hh:mm} - {個案姓名}(居服員：{居服員姓名}) <span class="text-danger">( 簽派人：{簽派人姓名} )</span></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">行程調整 - {調整後時間MM-DD hh:mm}~{hh:mm} - {個案姓名}(居服員：{居服員姓名})</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">服務未遇 - {MM-DD hh:mm}} {個案姓名} 督導員：{督導員姓名}）( 居服員：{居服員姓名} )</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">取消服務未遇 - {MM-DD hh:mm} {個案姓名} ( 居服員：{居服員姓名} ) <span class="text-danger">( 簽派人：{簽派人姓名} )</span></div>	<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">取消服務未遇 - {MM-DD hh:mm} {個案姓名} ( 居服員：{居服員姓名} )</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">{MM-DD hh:mm} - {會議標題}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">會議職訓取消 - {MM-DD hh:mm} - {會議標題} <span class="text-danger">( 簽派人：{簽派人姓名} )</span></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">會議職訓取消 - {MM-DD hh:mm} - {會議標題}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">會議職訓調整 - {調整後時間MM-DD hh:mm} - {會議標題} <span class="text-danger">( 簽派人：{簽派人姓名} )</span></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">會議職訓調整 - {調整後時間MM-DD hh:mm} - {會議標題}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
		</ul>
		<h4 class="top-buffer">耗材申請</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">
					{申請者身分}{申請者姓名} 提出耗材申請<br>
					{耗材項目 x 數量}<br>
					{耗材項目 x 數量}
				</div>
				<div class="col-md-4 text-right">2015-05-22 14：30</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">
					居服員 李柏偉 提出耗材申請<br>
					口罩 x 1<br>
					手套 x 20<br>
					毛巾 x 10
				</div>
				<div class="col-md-4 text-right">2015-05-22 14：30</div>
			</li>
		</ul>
		<h4 class="top-buffer">家訪電訪</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">例行家訪提醒 - {個案姓名}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">例行電訪提醒 - {個案姓名}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">例行家訪提醒 - {個案姓名}</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
		</ul>
		<h4 class="top-buffer">費用收取</h4>
		<ul>
			<li class="setting_item">
				<div class="col-md-8">收費確認：2015 年 10 月居家照顧服務費 ( 林爺爺 ) ( 收款 : 李大仁 )</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8">等待處理：2015 年 10 月居家照顧服務費 ( 林爺爺 ) ( 收款 : 李大仁 )</div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8"><a href="#" class="text-danger">收費確認：YYYY} 年 {MM} 月居家照顧服務費 (  {個案姓名} ) ( {收費方式} ) ( 經手人：{被指派之居服員，或主管，或行政} )</a></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
			<li class="setting_item">
				<div class="col-md-8"><a href="#" class="text-danger">等待處理：{YYYY} 年 {MM} 月居家照顧服務費 (  {個案姓名} ) 尚未指定收款人，請儘速完成指派。</a></div>
				<div class="col-md-4 text-right">2015-04-20 10：00</div>
			</li>
		</ul>
	</div>
</div>