<div class="row top-buffer">
	<div class="col-md-6 text-left">
		<ol class="breadcrumb">
			<li>
				<a href="#">系統設定</a>
			</li>
			<li class="active">權限設定</li>
		</ol>
	</div>
	<div class="col-md-6 text-right">
		<input class="btn btn-default" type="button" value="取消">
		<input class="btn btn-default" type="submit" value="儲存">
	</div>
</div>
<hr>
<div class="row">
	<form class="col-md-8 col-md-offset-2">
		<ul class="list-unstyled">
			<li class="setting_item setting_item-log">
				<h4>個案服務</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio1" checked></input> 督導員只能派發給綁定個案及居服員
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio1"></input> 督導員可派發給所有個案及居服員
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<h4>會議職訓</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio2" checked></input> 督導員只能派發給綁定的居服員
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio2"></input> 督導員可派發給所有居服員
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<h4>任務查詢 (行事曆)</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio3" checked></input> 督導員只能查詢已綁定個案之任務
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio3"></input> 督導員可查詢所有個案之任務
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<h4>任務列表</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio4" checked></input> 督導員只能查詢已綁定個案之任務
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio4"></input> 督導員可查詢所有個案之任務
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<h4>暫停紀錄</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio5" checked></input> 督導員只能查詢已綁定的個案
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio5"></input> 督導員可查詢所有個案
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<h4>結案紀錄</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio6" checked></input> 督導員只能查詢已綁定的個案
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio6"></input> 督導員可查詢所有個案
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<h4>訪問紀錄</h4>
			</li>
			<li class="setting_item setting_item-log">
				<label>
					<input type="radio" name="radio7" checked></input> 督導員只能查詢已綁定的個案
				</label>
			</li>
			<li class="setting_item setting_item-log">
				<label class="form-group form-inline">
					<input type="radio" name="radio7"></input> 督導員可查詢所有個案
				</label>
			</li>
		</ul>
	</form>
</div>