<div class="row top-buffer">
    <div class="col-md-6 text-left">
        <ol class="breadcrumb">
            <li>
                <a href="#">系統設定</a>
            </li>
            <li class="active">服務項目</li>
        </ol>
    </div>
    <div class="col-md-6 text-right">
        <input class="btn btn-default" type="button" value="取消">
        <input class="btn btn-default" type="submit" value="儲存">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <h5>填寫服務項目之實際工作時間</h5>
            <div class="row form-group form-inline d_t_radio_wrap">
                <div class="col-md-2 d_t_radio">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" checked> 否(預設值)
                    </label>
                </div>
                <div class="col-md-2">
                    <label>生效日期</label>
                    <input type="text" class="form-control datepicker_tomorrow">
                </div>
            </div>
            <div class="row form-group form-inline d_t_radio_wrap">
                <div class="col-md-2">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions"> 是
                    </label>
                </div>
                <div class="col-md-2 hidden">
                    <label>生效日期</label>
                    <input type="text" class="form-control datepicker_tomorrow">
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-5">
        <ul class="list-unstyled">
            <li class="setting_item setting_item-log">
                <div class="col-md-1">
                    <label class="form-group"></label>
                </div>
                <div class="col-md-8">
                    <label class="form-group">服務類別</label>
                </div>
                <div class="col-md-3">
                    <label class="form-group">順位</label>
                </div>
            </li>
            <% for i in 1..2 do %>
            <li class="setting_item setting_item-log text-right">
                <div class="col-md-1">
                    <a href="javascript:;"><i class="fa fa-2x fa-minus-circle text-danger"></i></a>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="系統帶預設值">
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="<%= i %>">
                </div>
            </li>
            <% end %>
            <li class="setting_item setting_item-log">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                    <a href="javascript:;" class="text-success">＋ 新增項目</a>
                </div>
            </li>
            <li class="setting_item setting_item-log has-success">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="請輸入項目名稱">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success btn-block">新增</button>
                </div>
            </li>
          </ul>
          
    </div>

    <div class="col-md-7">
        <ul class="list-unstyled">
            <li class="setting_item setting_item-log">
                <div class="col-md-1">
                    <label class="form-group"></label>
                </div>
                <div class="col-md-10 form-inline">
                    <label>服務項目</label>
                    <select class="form-control">
                        <option>家務及日常生活照顧服務</option>
                        <option>身體照顧服務</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label class="form-group">順位</label>
                </div>
            </li>
            <% for i in 1..2 do %>        
            <li class="setting_item setting_item-log">
                <div class="row form-group">
                    <div class="col-md-1 text-right">
                        <a href="javascript:;"> <i class="fa fa-2x fa-minus-circle text-danger"></i>
                        </a>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="系統帶預設值"></div>
                    <div class="col-md-1">
                        <input type="text" class="form-control" placeholder="<%= i %>">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <input type="file">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </li>
            <% end %>        
            <li class="setting_item setting_item-log">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <a href="javascript:;" class="text-success">＋ 新增項目</a>
                </div>
            </li>
            <li class="setting_item setting_item-log has-success">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="請輸入項目名稱"></div>
                <div class="col-md-3">
                    <button class="btn btn-success btn-block" id="">新增</button>
                </div>
            </li>
        </ul>

    </div>

</div>



