<div class="row top-buffer">
    <div class="col-md-6 text-left">
        <ol class="breadcrumb">
            <li>
                <a href="#">系統設定</a>
            </li>
            <li class="active">GPS定位警示</li>
        </ol>
    </div>
    <div class="col-md-6 text-right">
        <input class="btn btn-default" type="button" value="取消">
        <input class="btn btn-default" type="submit" value="儲存">
    </div>
</div>
<hr>
<div class="row">
    <form class="form-horizontal col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>距離提醒</label>
        </div>
        <div class="form-group form-inline">
            <label>
                <span>個案地址與打卡座標的直線距離，超過</span>
                <input type="text" class="form-control">
                <span>公尺時，於行事曆任務上顯示提醒。( 不輸入數值，即不顯示提醒。 )</span>
            </label>
        </div>
    </form>
</div>
