<div class="row top-buffer">
	<div class="col-md-6 text-left">
		<ol class="breadcrumb">
			<li>
				<a href="#">系統設定</a>
			</li>
			<li class="active">評鑑訪問</li>
		</ol>
	</div>
	<div class="col-md-6 text-right">
		<input class="btn btn-default" type="button" value="取消">
		<input class="btn btn-default" type="submit" value="儲存">
	</div>
</div>
<hr>
<div class="row">
	<form class="form-horizontal col-md-8 col-md-offset-2" role="form">
		<div class="row">
			<h4>單次評鑑設定</h4>
			<hr>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label">有效期限</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>服務完成後</span>
						<input type="text" class="form-control">
						<span>天內有效</span>
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label">評鑑提醒起始時間計算  *(不可小於單次評鑑有效期限)</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>服務完成後</span>
						<input type="text" class="form-control">
						<span>天內提醒</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row top-buffer">
			<h4>例行訪問設定</h4>
			<hr>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label">訪問頻率</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>家訪每</span>
						<input type="text" class="form-control">
						<span>月 / 1次</span>
					</label>
				</div>
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>電訪每</span>
						<input type="text" class="form-control">
						<span>月 / 1次</span>
					</label>
				</div>
			</div>
			<div class="form-group top-buffer">
				<div class="col-md-12">
					<label class="control-label">訪問提醒起始時間計算</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>下次家訪前</span>
						<input type="text" class="form-control">
						<span>天</span>
					</label>
				</div>
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>下次電訪前</span>
						<input type="text" class="form-control">
						<span>天</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row top-buffer">
			<h4>年度服務滿意度調查設定</h4>
			<hr>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label">填寫日期限制</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label form-inline">
						<span>次年度</span>
						<input type="text" class="form-control datepicker">
						<span>之前</span>
					</label>
				</div>
			</div>
		</div>
		<div class="row top-buffer">
			<h4>問卷內容 <button class="btn btn-primary">新增表格</button></h4>
			<hr>
			
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label">選擇問卷</label>
					<div class="form-inline">
						<select class="form-control">
							<option>滿意度調查</option>
							<option>電訪電訪</option>
						</select>
						<select class="form-control">
							<option>問卷名稱1(預設值)</option>
							<option>問卷名稱2</option>
							<option>問卷名稱3</option>
							<option>問卷名稱4</option>
						</select>
						<input class="btn btn-default" type="button" value="選擇">
						<input class="btn btn-default pull-right" type="button" value="編輯">
					</div>
				</div>
			</div>

			<!-- 問卷內容 -->
			<div class="top-buffer tab-pane">
				<table class="table align-middle-table custom-table-01 reset-list-style">
					<tbody>							
						<tr>
							<td width="48%"><strong>填表者</strong></td>
							<td width="50%">
								<li><label><input type="radio" name="questionnaire1"></input> 個案本人</label></li>
								<li><label><input type="radio" name="questionnaire1"></input> 家屬</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>已使用服務時間</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire2"></input> 六個月以內</label></li>
								<li><label><input type="radio" name="questionnaire2"></input> 六個月以上至一年以內</label></li>
								<li><label><input type="radio" name="questionnaire2"></input> 一年以上至兩年以內 </label></li>
								<li><label><input type="radio" name="questionnaire2"></input> 二年以上</label></li>
							</td>
						</tr>
						<tr class="info">
							<td colspan="2"><strong>對本基金會居家照顧服務之滿意度</strong></td>
						</tr>
						<tr>
							<td><strong>服務時間安排</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire3"></input> 非常滿意</label></li>
								<li><label><input type="radio" name="questionnaire3"></input> 滿意</label></li>
								<li><label><input type="radio" name="questionnaire3"></input> 尚可</label></li>
								<li><label><input type="radio" name="questionnaire3"></input> 不滿意</label></li>
								<li><label><input type="radio" name="questionnaire3"></input> 非常不滿意</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>服務時數安排 <br>勾選不足者，請回答題號5問題</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire4"></input> 恰當</label></li>
								<li><label><input type="radio" name="questionnaire4"></input> 不足</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>服務時數不足之原因 <br>勾選政府核定時數不敷使用者，請回答6問題</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire5"></input> 政府核定時數不敷使用</label></li>
								<li><label><input type="radio" name="questionnaire5"></input> 受限居服員人力因素</label></li>
								<li><label><input type="radio" name="questionnaire5"></input> 其他</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>是否願意使用自費服務</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire6"></input> 願意</label></li>
								<li><label><input type="radio" name="questionnaire6"></input> 不願意</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>對居服員的工作態度</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire7"></input> 非常滿意</label></li>
								<li><label><input type="radio" name="questionnaire7"></input> 滿意</label></li>
								<li><label><input type="radio" name="questionnaire7"></input> 尚可</label></li>
								<li><label><input type="radio" name="questionnaire7"></input> 不滿意</label></li>
								<li><label><input type="radio" name="questionnaire7"></input> 非常不滿意</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>對居服員的服務專業度</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire8"></input> 非常滿意</label></li>
								<li><label><input type="radio" name="questionnaire8"></input> 滿意</label></li>
								<li><label><input type="radio" name="questionnaire8"></input> 尚可</label></li>
								<li><label><input type="radio" name="questionnaire8"></input> 不滿意</label></li>
								<li><label><input type="radio" name="questionnaire8"></input> 非常不滿意</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>對督導員的服務態度</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire9"></input> 非常滿意</label></li>
								<li><label><input type="radio" name="questionnaire9"></input> 滿意</label></li>
								<li><label><input type="radio" name="questionnaire9"></input> 尚可</label></li>
								<li><label><input type="radio" name="questionnaire9"></input> 不滿意</label></li>
								<li><label><input type="radio" name="questionnaire9"></input> 非常不滿意</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>對督導員的服務專業度</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire10"></input> 非常滿意</label></li>
								<li><label><input type="radio" name="questionnaire10"></input> 滿意</label></li>
								<li><label><input type="radio" name="questionnaire10"></input> 尚可</label></li>
								<li><label><input type="radio" name="questionnaire10"></input> 不滿意</label></li>
								<li><label><input type="radio" name="questionnaire10"></input> 非常不滿意</label></li>
							</td>
						</tr>
						<tr>
							<td><strong>對服務單位的服務滿意度</strong></td>
							<td>
								<li><label><input type="radio" name="questionnaire11"></input> 非常滿意</label></li>
								<li><label><input type="radio" name="questionnaire11"></input> 滿意</label></li>
								<li><label><input type="radio" name="questionnaire11"></input> 尚可</label></li>
								<li><label><input type="radio" name="questionnaire11"></input> 不滿意</label></li>
								<li><label><input type="radio" name="questionnaire11"></input> 非常不滿意</label></li>
							</td>
						</tr>
						<tr>
							<td colspan="3" class="text-center"><strong>意見與建議</strong></td>
						</tr>
						<tr>
							<td colspan="3">
								<textarea class="form-control" rows="3"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 問卷內容 //-->

		</div>		
	</form>
</div>
