<div class="row top-buffer">
	<div class="col-md-6 text-left">
		<ol class="breadcrumb">
			<li>
				<a href="#">系統設定</a>
			</li>
			<li class="active">政府補助設定</li>
		</ol>
	</div>
	<div class="col-md-6 text-right">
		<input class="btn btn-default" type="button" value="取消">
		<input class="btn btn-default" type="submit" value="儲存">
	</div>
</div>
<hr>
<div class="row">
	<div class="form-group col-md-8 col-md-offset-2">
		<form class="col-md-12">
			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">政府補助服務費</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							元 / 時，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>

			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">行政費</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							元 / 次，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>
			
			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">假日倍數</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							倍，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>
			
			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">加班費倍數</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							倍，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>
			
			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">督導費</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							元，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>
			
			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">個案於15 日後建立之督導費</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							元，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>
			
			<ul class="list-unstyled top-buffer">
				<li class="setting_item">
					<label class="control-label">專案計畫管理費的計算比例 *核算依據：(極重度失能服務費+督導費)*比例%</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							%，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>
			
			<ul class="list-unstyled top-buffer">	
				<li class="setting_item">
					<label class="control-label">中高齡的年齡設定</label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-md-3 text-center">
							歲以上，生效日期
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker">
						</div>
					</div>
				</li>
				<% 3.times do %>
				<li class="setting_item setting_item-log">
					<div class="row">
						<div class="col-md-4 text-right text-primary">999</div>
						<div class="col-md-4"></div>
						<div class="col-md-4 text-right">yyyy/mm/dd</div>
					</div>
				</li>
				<% end %>
			</ul>

		</form>
	</div>
</div>