<div class="row top-buffer form-horizontal well clearfix">
	<form class="form-horizontal" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="請輸入案號, 個案姓名"></div>
				<button class="btn btn-default">
					查詢 <i class="fa fa-search fa-fw"></i>
				</button>
			</div>
		</div>
	</form>
</div>    
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>雙連案號</th>
				<th>長照案號</th>
				<th>照護者</th>
				<th>家訪記錄</th>
				<th>電訪記錄</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>雙連001</td>
				<td>WXJW44498</td>
				<td>張大春</td>
				<td>
					<div class="dspmore">
						<li>
							<a href="#">2015.07.01 10:00 進行家訪</a>
						</li>
						<li><a href="javascript:;" class="text-muted">2015.06.01 10:00</a></li>
						<li><a href="javascript:;" class="text-danger">2015.04.01 10:00 <特殊家訪></a></li>
						<li><a href="javascript:;" class="text-muted">2015.05.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.03.01 10:00</a></li>
					</div>
				</td>
				<td>
					<div class="dspmore">
						<li>
							<a href="#">2015.07.01 10:00 進行家訪</a>
						</li>
						<li><a href="javascript:;" class="text-muted">2015.06.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.05.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.04.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.03.01 10:00</a></li>
					</div>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>雙連001</td>
				<td>WXJW44498</td>
				<td>李山雞</td>
				<td>
					<div class="dspmore">
						<li>
							<a href="#">2015.07.01 10:00 進行家訪</a>
						</li>
						<li><a href="javascript:;" class="text-warning">下次期限：2015.10.01{逾期色}</a></li>
						<li><a href="javascript:;" class="text-muted">2015.05.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.04.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.03.01 10:00</a></li>
					</div>
				</td>
				<td>
					<div class="dspmore">
						<li>
							<a href="#">2015.07.01 10:00 進行家訪</a>
						</li>
						<li><a href="javascript:;" class="text-warning">下次期限：2015.10.01</a></li>
						<li><a href="javascript:;" class="text-danger">2015.04.01 10:00 <特殊家訪></a></li>
						<li><a href="javascript:;" class="text-muted">2015.04.01 10:00</a></li>
						<li><a href="javascript:;" class="text-muted">2015.03.01 10:00</a></li>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>