<div class="row top-buffer form-horizontal well clearfix">
	<form class="form-horizontal" role="form">
		<div class="col-md-9">
			<div class="form-group">
				<div class="col-md-2">
					<lable class="form-control-static">查詢條件</lable>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" placeholder="請輸入督導員、居服員、案號或個案姓名"></div>
			</div>
			<div class="form-group">
				<div class="col-md-2">
					<p class="form-control-static">日期區間</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
						<div class="col-md-2">~</div>
						<div class="col-md-5">
							<input type="text" class="form-control datepicker" placeholder=""></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default">
				查詢 <i class="fa fa-search fa-fw"></i>
			</button>
		</div>
		<div class="col-md-2 text-right">
			<button class="btn btn-primary"> <i class="fa fa-fw fa-table"></i>
				匯出 excel
			</button>
		</div>
	</form>
</div>
<hr>
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>序號</th>
				<th>案號</th>
				<th>姓名</th>
				<th>服務時間</th>
				<th>服務員</th>
				<th>服務員打卡時間</th>
				<th>督導員</th>
				<th colspan="2">單項服務評分</th>
				<th>所有項目平均</th>
				<th>整體服務評分</th>
				<th>督導員評分(編輯)</th>
				<th>個案備註</th>
				<th>督導備註</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>淡001</td>
				<td>王</td>
				<td>103.01.18</td>
				<td>陳小明</td>
				<td>
					103.01.18<br>
					16:30-18:00<br>
					(早到/早退/晚到)
				</td>
				<td>林督導</td>
				<td>
					<li>電話問安</li>
					<li>到家探訪</li>
					<li>送餐服務</li>
					<li>買菜煮飯打掃</li>
					<li>洗澡</li>
					<li>整理家務</li>
					<li>帶出門看醫生</li>
					<li>陪聊天散步</li>
					<li>到宅沐浴</li>
				</td>
				<td>
					<li>5</li>
					<li>4</li>
					<li>5</li>
					<li>1</li>
					<li>3</li>
					<li>2</li>
					<li>4</li>
					<li>3</li>
					<li>2</li>
				</td>
				<td>3.22</td>
				<td>4</td>
				<td><a href="#" class="editable_select_result editable editable-click" data-type="select"></a></td>
				<td></td>
				<td contenteditable="true">
					<a href="javascript:;" data-type="textarea" class="editable_textarea editable editable-pre-wrapped editable-click" data-original-title="">無</a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>淡001</td>
				<td>王</td>
				<td>103.01.18</td>
				<td>陳小明</td>
				<td>
					103.01.18<br>
					16:30-18:00<br>
					{異常狀態}
				</td>
				<td>林督導</td>
				<td>
					<li>電話問安</li>
					<li>到家探訪</li>
					<li>送餐服務</li>
					<li>買菜煮飯打掃</li>
					<li>洗澡</li>
					<li>整理家務</li>
					<li>帶出門看醫生</li>
					<li>陪聊天散步</li>
					<li>到宅沐浴</li>
				</td>
				<td></td>
				<td><span class="text-danger">逾期未評</span></td>
				<td>4</td>
				<td><a href="#" class="editable_select_result editable editable-click" data-type="select"></a></td>
				<td></td>
				<td contenteditable="true">
					<a href="javascript:;" data-type="textarea" class="editable_textarea editable editable-pre-wrapped editable-click" data-original-title="">無</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>