<div class="tab-page-wrapper-space">
	<div class="tab-page-wrapper bg-secondary"></div>
</div>
<div class="row top-buffer form-horizontal well clearfix">
	<form class="form-inline" role="form">
		<div class="form-group col-md-12">時間區間
			<input type="text" class="form-control datepicker" placeholder="">~
			<input type="text" class="form-control datepicker" placeholder="">
			<button class="btn btn-default">查詢</button>
			<button class="btn btn-primary pull-right">
				<i class="fa fa-fw fa-table"></i>匯出 excel</button>
		</div>
	</form>
</div>
<div class="row top-buffer">
	<table class="table align-middle-table custom-table-01 reset-list-style">
		<thead>
			<tr>
				<th>項目</th>
				<th>身分別 / 失能程度</th>
				<th>金額</th>
				<th>小計</th>
				<th>備註</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="2">服務費</td>
				<td>1,2 / AB</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td>1 / C (舊制33-36hr 30%)</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td>督導費</td>
				<td>1,2 / AB</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td>服務費</td>
				<td>1,2 / C+3 /ABC</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td>督導費</td>
				<td>1,2 / C+3 /ABC</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td>專管費</td>
				<td>(服務+督導費)*0.05</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td>行政費</td>
				<td>1,2,3 / ABC</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>

			<tr class="ui-widget">
				<td></td>
				<td></td>
				<td>金額</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>市府</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td></td>
				<td>衛福部</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
			<tr>
				<td></td>
				<td>合計</td>
				<td></td>
				<td></td>
				<td><a href="javascript:;" data-type="textarea" class="editable_textarea">編輯</a></td>
			</tr>
		</tbody>
	</table>
</div>